@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("http://fonts.cdnfonts.com/css/sf-pro-display");

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
	background: url("/public/macos-monterey-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	user-select: none;
}
